html {
    background-color: #f6ecd3;
    background-image: -webkit-linear-gradient(65deg, #a33d27 50%, #f6ecd3 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
}
.title-box {
    background-color: #a33d27;
    width: 400px;
    height: 65px;
    margin: 3.5% auto;
    border-radius: 7px;
    box-shadow:2px 3px 3px #8a8180;
}
.title {
    padding-top: 10px;
    color: #fff;
}
.big-container {
    background-color: #fff;
    width: 400px;
    margin: 5px auto 90px;
    border-radius: 7px;
    box-shadow:2px 2px 4px #795853;
    padding-bottom: 5px;
}
.item-box {
    border-bottom: #f0eeee solid 1px;
    display: flex;
    height: 60px;
    position: relative;
}
input[type="checkbox"] {
    margin:30px 25px;
}
input[type="checkbox"]:checked {
    background-color: #a33d27;
}
.item-text {
    margin:23px 10px;
    color: #857e7d;
    font-size: 1.3rem;
}
.item-text:focus {
    outline: none;
 }
:checked+p {
    text-decoration: line-through #a33d27;
    color: #c5b9b7;
}
.close {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 1.2rem;
    color: #c5b9b7;
}
.close:hover {
    color: #a33d27;
    cursor: pointer;
}
.form-box {
    margin-top: 5px;
    padding-top: 10px;
}
input[type="text"] {
    border: none;
    height: 50px;
    width: 70%;
    font-size: 1.3rem;
    text-align: center;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: #a33d27 solid 3px;
}
.btn {
    width: 45px;
    height: 40px;
    background-color: #a33d27;
    border-radius: 50%;
    margin-bottom: 5px;
    color: #fff;
    font-size: 1.6rem;
    padding-top: 5px;
    display: inline-block;
}
.btn:hover {
    cursor: pointer;
    background-color: #582215;
}
footer {
    color: #ceb0a9;
}

@media screen and (max-width: 800px) {
    .title-box {
        width: 350px;
    }
    .big-container {
        width: 350px;
    }
    .title {
        font-size: 1.3rem;
        padding-top: 20px;
    }
    .item-text {
        font-size: 1.1rem;
    }
    input[type="text"] {
        font-size: 1.1rem;
    }
}

/* 我从雾霾之中走来，穿着蓝色塑料袋的小孩 */